<template>
    <v-app-bar height="100px" max-height="100px">

        <nuxt-link to="/">
            <div class="logo align-self-center"></div>
        </nuxt-link>

        <v-spacer></v-spacer>

        <v-btn
            v-if="back"
            class="back-button mr-3 align-self-center"
            color="#776363"
            dark
            @click="backHome"
            >VOLTAR</v-btn
        >

    </v-app-bar>
</template>

<script>
export default {
    props: {
        back: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            home: true,
        }
    },
    methods: {
        backHome() {
            this.$router.push('/')
        },
    },
}
</script>

<style scoped>
.logo {
    width: 137px;
    height: 70px;
    background-image: url('~/assets/images/Logo_Incluir_Tecnologia.svg');
}
.back-button {
    background: #776363;
    border-radius: 10px;
    padding-left: 24px;
}
</style>
