<template>
    <v-container class="country-section">
        <v-row no-gutters>
            <v-col md="5.9" offset="0" align-self="center">
                <v-container>
                    <div class="flag">
                        <v-img :src="country.flag"></v-img>
                    </div>
                </v-container>
            </v-col>
            <v-col class="mx-2 mt-5" md="6" offset="0" align-self="start">
                <div class="spacer"></div>
                <div class="infos">
                    <p>Nome: {{ country.name }}</p>
                </div>
                <div class="infos">
                    <p>Capital: {{ country.capital }}</p>
                </div>
                <div class="infos">
                    <p>Região: {{ country.region }}</p>
                </div>
                <div class="infos">
                    <p>Sub-região: {{ country.subregion }}</p>
                </div>
                <div class="infos">
                    <p>População: {{ country.population }}</p>
                </div>
                <div class="infos">
                    <p>Línguas:</p>
                    <ul
                        v-for="language in languages"
                        :key="language.nativeName"
                    >
                        {{
                            language.nativeName
                        }}
                    </ul>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template> 

<script>
export default {
    props: {
        country: {
            type: Object,
            required: true,
        },
    },
    computed: {
        languages() {
            return this.country.languages
        },
    },
}
</script>

<style scoped>
.infos {
    display: flex;
    justify-content: initial;
    padding-top: 5px;
    width: 400px;
}
.spacer {
    flex: 1;
    height: 10px;
}
.flag {
    border: 2px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    max-height: 181px;
    max-width: 316px;
}
</style>
