<template>
    <div>
        <v-container>
            <v-row>
                <v-col class="m-5" align-self="center" v-for="country in countries" :key="country" >
                    <CountryFlag :alpha="country" />
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    props: {
        countries: {
            type: Array,
            required: true,
        },
    },
}
</script>
