<template>
    <v-menu
        bottom
        :offset-y="offset"
        origin="center center"
        transition="scale-transition"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark v-bind="attrs" v-on="on">
                Dropdown Menu
            </v-btn>
        </template>
        <v-list>
            <v-list-item v-for="(item, i) in items" :key="i">
                <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    data() {
        return {
            item: {
                title: '',
                flag: '',
            },
        }
    },
    props: {
        items: {}
    }
}
</script>
