<template>
    <section class="search-section">
        <div>
            <v-container>
                <v-row no-gutters>
                    <v-col class="mx-5" md="3.9" offset="0" align-self="start">
                        <v-container class="search--container">
                            <div class="section-title">
                                <p>Região</p>
                            </div>
                            <div class="region">
                                <v-autocomplete
                                    absolute
                                    :items="regions"
                                    dense
                                    filled
                                    label="Escolha uma região"
                                    @change="sendRegion"
                                    v-model="formOptions.selectedRegion"
                                ></v-autocomplete>
                            </div>
                        </v-container>
                    </v-col>
                    <v-col class="mx-5" md="3.9" offset="1" align-self="start">
                        <v-container class="search--container">
                            <div class="section-title">
                                <p>País</p>
                            </div>
                            <div class="region">
                                <v-autocomplete
                                    absolute
                                    item-text="translations.br"
                                    :items="countries"
                                    dense
                                    filled
                                    return-object
                                    label="Escolha um país"
                                    v-model="formOptions.selectedCountry"
                                    @change="sendCountry"
                                ></v-autocomplete>
                            </div>
                        </v-container>
                    </v-col>
                    <v-col class="mx-5" md="3.9" offset="1" align-self="end">
                        <v-container class="search--container">
                            <div class="button-section">
                                <v-btn
                                    class="search-button"
                                    color="#776363"
                                    dark
                                    :disabled="enableSearch"
                                    @click="searchInfos"
                                    >Pesquisar</v-btn
                                >
                            </div>
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        countries: {
            type: Array,
            default: [],
        },
    },
    data: () => ({
        selectedOptions: {
            selectedRegion: '',
            selectedCountry: '',
        },
        formOptions: {
            selectedRegion: '',
            selectedCountry: '',
        },
        regions: ['Todas', 'África', 'Américas', 'Ásia', 'Europa', 'Oceania'],
        selectedCountries: [],
        enableSearch: true,
    }),
    methods: {
        searchInfos() {
            this.$router.push('/' + this.formOptions.selectedCountry.alpha3Code)
        },
        sendRegion() {
            this.enableSearch = true
            switch (this.formOptions.selectedRegion) {
                case 'Todas':
                    this.selectedOptions.selectedRegion = 'Todas'
                    break
                case 'África':
                    this.selectedOptions.selectedRegion = 'Africa'
                    break
                case 'Américas':
                    this.selectedOptions.selectedRegion = 'Americas'
                    break
                case 'Ásia':
                    this.selectedOptions.selectedRegion = 'Asia'
                    break
                case 'Europa':
                    this.selectedOptions.selectedRegion = 'Europe'
                    break
                case 'Oceania':
                    this.selectedOptions.selectedRegion = 'Oceania'
                    break
                default:
                    break
            }
            this.$emit('submitRegion', this.selectedOptions.selectedRegion)
        },
        sendCountry() {
            this.enableSearch = false
            this.$emit(
                'submitCountry',
                this.formOptions.selectedCountry.alpha3Code
            )
        },
    },
    computed: {
        regionCountries() {
            this.regionCountries = this.selectedCountries
        },
    },
}
</script>

<style scoped>
.search-section {
    display: inline;
    justify-content: space-around;
}
.section-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #a8a8a8;
    position: initial;
    text-align: left;

    margin: 0;
    padding: 0;
}
.search--container {
    max-height: 110px;
    min-width: 200px;
}
.region {
    max-width: 316px;
    margin: 0;
    padding: 0;
    max-height: 50px;
}
.button-section {
    display: flex;
    width: 316px;
    margin-top: 50px;
}
.search-button {
    background: #776363;
    border-radius: 10px;
}
</style>
