<template>
    <div id="app">
        <v-app class="app-layout">
            <Header back></Header>
            <CountrySection :country="selected_country" />
            <div class="other-countries">
                <h2 class="other-contries-tag">Países vizinhos:</h2>
            </div>
            <BorderCountriesSection :countries="selected_country.borders" />
        </v-app>
    </div>
</template>

<script>
import axios from 'axios'
import Header from '@/components/header/Header'

export default {
    head: {
        titleTemplate: '%s - País',
    },
    components: {
        Header
    },
    asyncData(context) {
        return axios
            .get('https://restcountries.eu/rest/v2/alpha/' + context.params.id)
            .then((res) => {
                return {
                    selected_country: res.data,
                }
            })
            .catch((e) => context.error(e))
    },
    computed: {
        country() {
            return this.$store.dispatch('getCountry', context.params.id)
        },
    },
}
</script>

<style scoped>
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.other-countries {
    left: 0px;
    width: 300px;
    padding: 10px;
    margin-left: 50px;
}
</style>
