<template>
    <div id="app">
        <v-app class="app-layout mt-7" align-self="center">
            <Header></Header>
            <SearchSection
                @submitRegion="searchRegion"
                @submitCountry="searchCountry"
                :countries="countries"
                class="mt-10"
            />
            <FlagsSection
                :countries="singleCountry.length ? singleCountry : countries"
                class="mt-10"
            />
        </v-app>
    </div>
</template>

<script>
import Header from '@/components/header/Header'

export default {
    data() {
        return {
            selectedCountry: '',
        }
    },
    components: {
        Header,
    },
    methods: {
        searchRegion(region) {
            if (region === 'Todas') {
                return this.$store.dispatch('getAll')
            }
            return this.$store.dispatch('getRegion', region)
        },
        searchCountry(country) {
            return this.$store.dispatch('getCountry', country)
        },
        getRequests() {
            return this.$store.dispatch('getAll')
        },
    },
    head: {
        titleTemplate: '%s - Home',
    },
    computed: {
        countries() {
            return this.$store.getters.selectedRegion
        },
        singleCountry() {
            return this.$store.getters.selectedCountry
        },
    },
    mounted() {
        this.getRequests()
    },
}
</script>

<style scoped>
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
</style>
