<template>
    <v-container class="m-10">
        <nuxt-link :to="countryLink">
            <div class="flag">
                <v-img :src="flag"></v-img>
            </div>
        </nuxt-link>
    </v-container>
</template>

<script>
export default {
    name: 'Flag',
    props: {
        alpha: {
            type: String,
            required: true,
        },
        flag: {
            type: String,
            required: true,
        },
    },
    computed: {
        countryLink() {
            return '/' + this.alpha
        },
    },
}
</script>

<style scoped>
.flag {
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    max-height: 181px;
    max-width: 316px;
}
</style>
