<template>
    <v-container >
        <v-row align-self="center" justify="center">
            <v-col
                align-self="center"
                justify="center"
                v-for="country in countries"
                :key="country.alpha3Code"
            >
                <Flag class="mb-5" :alpha="country.alpha3Code" :flag="country.flag" />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    props: {
        countries: {
            type: Array,
            required: true,
        },
    },
}
</script>